* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: orangered;
    margin-bottom: 80px;
    color: white;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

.row {
    
}